.auth
   padding: 50px 170px 40px;
   text-align: center;
   &__
      &form
         &_password-reset
            margin-top: 40px;
            .auth__hint
               margin-top: 50px
            .button
               margin-top: 0 !important
      &title
         font-size: 28px;
         margin-bottom: 30px
      &row
         margin-bottom: 15px
         width: 260px
      &label
         display: block
         margin-bottom: 2px
      &fp-wrap
         margin: -10px 0 10px
         font-size: 11px
         text-align: left
      &fp
         border-bottom: 1px dotted rgba(171, 171, 171, .3);
         text-decoration: none
         color: #ababab;
      &cp
         display: block
         margin: -10px 0 10px
         font-size: 11px
         text-align: left
         color: #ababab;
      &cp-control
         margin-right: 5px
      &hint
         margin-top: 30px;
         color: #706e70;
      &link1, &link2
         border-bottom-width: 1px
         border-bottom-style: dotted
         text-decoration: none
      &link1
         border-bottom-color: rgba(28, 136, 212, .3)
         color: #1c88d4;
      &link2
         border-bottom-color: rgba(112, 110, 112, .3);
         color: #706e70;
   .menu__item
      margin: 0 5px;
   .button
      margin-top: 10px;
   .error
      position: absolute;
      top: -13px;
      text-align: left;

