.ctrl
   position: relative;
   padding-bottom: 18px;
   &__
      &el
         width: 100%
         &:focus
            border-color: #33C3F0
            box-shadow 0 0 5px rgba(51, 195, 240, 0.3)
   .error
      position: absolute;
      bottom: 6px;
      left: 0
      border-color: #ff4500
      line-height: 12px;