.activities
   width: 800px
   display: flex
   flex-wrap wrap
   margin 0 auto

.activity
   width: calc(50% - 30px);
   height: 200px;
   display: flex
   justify-content center
   align-items: center;
   margin: 15px;
   border: 1px solid #1c88d4;
   border-radius: 5px;
   transition: color 0.15s linear, border-color 0.15s linear;
   &:hover
      border-color: rgba(255,86,101,0.3);
