.item
   display: flex
   justify-content: space-between;
   margin: 10px 0;
   padding: 10px 0;
   border-bottom: 1px solid #E1E1E1;
   button
      font-size: 25px;
      
.button
   margin-top: 30px
