.actions
   display: flex
   justify-content space-between
   align-items: center;
   margin-bottom: 30px;

.texts
   position: relative
   min-height: 100px

.text
   display: block
   position: relative
   margin: 10px 0;
   padding: 10px;
   border-bottom: none
   font-size: 12px;
   line-height: 15px;
   color: #000
   &:hover
      background-color: #fafafa
      color: #000
      p:after
         background: linear-gradient(to right, transparent 0%, #fafafa 70%)
   &_selected
      border 1px solid #e7e7e7 !important
   p
      max-height: 45px;
      overflow: hidden
      position: relative
      &:after
         width: 100px;
         height: 15px;
         position: absolute;
         bottom: 0;
         right: 0;
         background: linear-gradient(to right, transparent 0%, #fff 70%);
         content: '';
