.add-text-form
   &:focus
      background-color: #000
   &__title
      width:100%
      display: block
   &__textarea
      width:100%
      height: 100px
      display: block
   &__ctrl-full
      margin-bottom:10px
   &__add
      display: block
      margin-left: auto;