.footer
   margin-top: 50px
   font-size: 11px
   color: #7d848c;
   text-align: center
   &__link
      border-bottom:1px solid rgba(125,132,140,0.3);
      text-decoration: none
      color: #7d848c;
      &:hover
         border-bottom-color: rgba(255,86,101,0.3);
         color: #ff5665;