.keyboard
   width: 650px;
   display: flex
   flex-wrap: wrap
   justify-content: center
   &__menu-item
      margin-top: 10px
      margin-bottom: @margin-top
   &__key
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 2px 4px;
      text-align: center;
      font: 14px / 40px Verdana, Geneva, sans-serif;
      background: #eee;
      border-bottom: 3px solid #b2b1b1;
      border-radius: 2px;
      border-bottom: 1px solid #7b7b7b;
      box-shadow: inset 1px 1px 0 #e3e3e3;
      -webkit-transition: background-color 0.1s linear;
      transition: background-color 0.1s linear;
      &[data-key="Backspace"]
         width: 56px;
      &[data-key="Tab"]
         width: 56px;
      &[data-key="Caps"]
         width: 67px;
      &[data-key="Enter"]
         width: 73px;
      &[data-key="Left Shift"], &[data-key="Right Shift"]
         width: 92px;
      &[data-key="Space"]
         width: 260px;
      &[data-finger="left-index"]
         background-image: linear-gradient(to bottom, #ffd9b2, #ffc07e);
      &[data-finger="right-index"]
         background-image: linear-gradient(to bottom, #fff5b2, #ffef7e);
      &[data-finger="middle"]
         background-image: linear-gradient(to bottom, #d0f1a6, #b0e86a);
      &[data-finger="ring"]
         background-image: linear-gradient(to bottom, #a1eeff, #63e3ff);
      &[data-finger="pinky"]
         background-image: linear-gradient(to bottom, #aeeecc, #78e2aa);
      &_selected
         background: #33c3f0 !important;
      &_disabled
         opacity: 0.4
   &__shift-key
      display: block;
      margin-bottom: -12px;
      font-size: 10px;
      line-height: 18px;