.settings-text
   width: 840px;
   margin: 0 auto;
   &__
      &item
         display: flex
         margin-bottom: 15px
      &label
         flex: 0 0 150px;
         padding-top: 5px
      &item-ctrl
         width: 100%
         display: flex
      &ctrl-texts
         select
            width: 100%
      &add-text-form
         width: 100%
      &texts
         position: relative
         overflow auto
         max-height 330px
      &text
         position: relative
         padding: 5px 7px;
         border-radius: 4px;
         cursor: default
         &:hover
            background-color: #fafafa
            .settings-text__text-content:after
               background: linear-gradient(to right, transparent 0%, #fafafa 70%)
         &_selected
            background: #feec80 !important
            .settings-text__text-content:after
               background: linear-gradient(to right, transparent 0%, #feec80 70%) !important
         &-title
            margin-bottom:2px;
            overflow: hidden
            white-space nowrap
            text-overflow ellipsis
            font-size: 14px
            line-height: 17px
         &-content
            max-height: 30px;
            position: relative
            overflow: hidden
            font-size: 12px;
            line-height: 15px;
            &:after
               width: 50px;
               height: 15px;
               position: absolute;
               bottom: 0;
               right: 0;
               background: linear-gradient(to right, transparent 0%, #fff 70%);
               content: '';
   .switcher
      margin-bottom: 30px