.settings-text
   width: 840px;
   margin: 0 auto;
   &__
      &item
         display: flex
         margin-bottom: 15px
      &label
         flex: 0 0 150px;
         padding-top: 5px
      &item-ctrl
         width: 100%
         display: flex
      &ctrl-texts
         select
            width: 100%
      &add-text-form
         width: 100%
      &texts
         position: relative
         overflow auto
         max-height 330px
      &text-wrap
         position: relative
      &text
         position: relative
         padding: 5px 7px;
         border-radius: 4px;
         cursor: default
         &:hover
            background-color: rgba(0, 0, 0, 0.02)
         &:after
            height: 18px
            position: absolute
            top: 40px
            right: 0
            left: 0
            background: linear-gradient(to bottom, transparent 0%, #fff 70%);
            content ''
      &text-selected
         background: linear-gradient(to right, rgba(247, 167, 0, 0.5) 0%, rgba(255, 225, 0, 0.5) 100%)
      &text-title
         margin-bottom:2px;
         overflow: hidden
         white-space nowrap
         text-overflow ellipsis
         font-size: 14px
         line-height: 17px
      &text-content
         max-height: 29px;
         overflow: hidden
         font-size: 12px;
         line-height: 15px;
