.settings-learning
   width: 840px;
   margin: 0 auto;
   &__
      &item
         margin: 30px 0 50px;
      &label
         display: block
         margin-bottom: 28px;
      &item-ctrl
         width: 100%;
   &__item-ctrl-range
      display: flex
      align-items: center;
   &__range
      flex-basis: 100%;
   &__max-word-length
      display: flex
      align-items: center;
   &__letters
      display: flex
   &__letter
      width: 100%
      height: 25px
      display: block
      margin-right: 1px
      background-color: rgb(14, 218, 97)
      line-height: @height
      text-align: center
      &_excluded
         background-color: rgb(182, 25, 11)
      &:not(.settings-learning__letter_excluded) + .settings-learning__letter_excluded
         margin-left: 14px;
   &__methods
      &-wrap
         display: flex;
      &-menu
         flex: 0 0 140px;
      &-content
         flex: 0 0 700px;
   .learningarea
      margin-bottom: 20px

