.settings-learning
   width: 840px;
   margin: 0 auto;
   &__
      &item
         margin: 0 0 50px;
      &label
         display: block
         margin-bottom: 28px;
      &item-ctrl
         width: 100%;
   &__item-ctrl-range
      display: flex
      align-items: center;
   &__range
      flex-basis: 100%;
   &__max-word-length
      display: flex
      align-items: center;
   &__modes
      display: flex;
      &-menu
         flex: 0 0 140px;
         &-item
            margin-bottom: 5px
         &-title
            margin-bottom: 15px
      &-content
         flex: 0 0 700px;
   &__keyboard
      .keyboard__key:not(.keyboard__key_disabled)
         cursor: pointer
   .learningarea
      margin-bottom: 20px

