.settings
   &__home
      font-size: 16px;
      text-decoration: none;
      margin-right: 50px;
      border-bottom: none
      color: #fff;
      .fa
         margin-right: 5px;
         font-size:14px
      span
         border-bottom:1px solid #fff
   &__nav
      margin-bottom: 30px
      background-color: #112c40
   &__nav-in
      width: 840px;
      margin: 0 auto;
   &__nav-item
      display: inline-block;
      margin: 0 10px;
      font-size: 14px;
      line-height: 64px;
      color: #fff;
      &--selected
         line-height: 59px;
         border-bottom: 5px solid #00aae5;
         text-decoration: none
         color: #00aae5;