.root
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
.loader
   width: 15px;
   height: 15px;
   position: absolute;
   top: 50%
   left: 50%
   margin-top: -(@height/ 2);
   margin-left: -(@height/ 2);
   box-sizing border-box
   border-radius: 50%;
   border: 2px solid transparent;
   border-top-color: #000;
   border-bottom-color: @border-top-color;
   content ''
   animation: loader 1s infinite linear
@keyframes loader
   from
      transform: rotate(0);
   to
      transform: rotate(360deg);
