.typing-info
   display: flex;
   justify-content: center
   margin-left: 30px
   > *
      margin: 0 15px

.hits
   margin-right: 5px;
   color: green
      
.speed
   margin-right: 5px;
   color: green
   
.errors
   margin-right: 5px;
   color: red