{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "function-paren-newline": [
      "error",
      "consistent"
    ],
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "object-curly-newline": "off",
    "no-useless-escape": "off",
    "default-case": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "__v"
        ]
      }
    ],
    "import/extensions": "off",
    "max-len": "off",
    "react/prop-types": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-boolean-value": "off",
    "react/no-unescaped-entities": "off",
    "react/no-danger": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": []
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "BROWSER": true
  }
}