{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "__v"
        ]
      }
    ],
    "react/prop-types": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "BROWSER": true
  }
}