.daypicker
   position: relative

.overlay
   position: relative;
   top: -13px;
   transition: opacity linear .15s, top linear .15s;
   

.enter
   top: 15px;
   opacity 0
   &-active
      top: 0;
      opacity 1

.exit
   &-active
      top: 15px;
      opacity 0

