.daypicker
   position: relative

.overlay
   position: relative;
   top: -13px;
   transition: opacity ease-in-out .3s;
   

.enter
   opacity 0
   &-active
      opacity 1

.exit
   &-active
      opacity 0
