.root
   width: 16px;
   height: 16px;
   position: absolute;
   top: 12px
   right: 10px
   
   &:after
      top: 0 !important
      right: 0 !important
      margin-top: 0 !important;
      transition opacity .3s linear
   
   &:before
      width: 16px;
      height: 16px;
      display: none;
      opacity: 0;
      justify-content center
      align-items center
      position: absolute;
      font: normal normal 900 16px/1 'Font Awesome 5 Free';
      content: '\F00C';
      color: #008000;
      animation: check-mark 1s linear .3s
   
   &-enter
      &:after
         opacity: 0;
      &-active
         &:after
            opacity: 1;
   
   &-exit
      &:after
         opacity: 0;
      &:before
         display: flex

@keyframes loader
   0%
      transform: rotate(0deg);
   100%
      transform: rotate(360deg);

@keyframes check-mark
   0%
      opacity: 0;
   30%
      opacity: 1;
   70%
      opacity: 1;
   100%
      opacity: 0;
