--globalMessageAnimationTime = .3s
--globalMessageAnimationTimeDelay = .2s

.animation
   &-enter
      transform: translateY(-100%);
      transition transform --globalMessageAnimationTime linear
      .content
         opacity: 0;
         transition opacity --globalMessageAnimationTime linear --globalMessageAnimationTimeDelay
      .icon, .close
         transform: scale(0)
         transition transform --globalMessageAnimationTime linear --globalMessageAnimationTimeDelay
      &_active
         transform: translateY(0);
         .content
            opacity: 1;
         .icon, .close
            transform: scale(1)
   &-exit
      transform: translateY(0);
      transition transform --globalMessageAnimationTime linear
      &_active
         transform: translateY(-100%);
.root
   position: fixed
   top: 0
   left: 0
   right: 0
   background-color: green;
.content
   max-width: 1200px;
   min-width: 770px
   display: flex
   align-items: center;
   position: relative;
   margin-left: auto;
   margin-right: @margin-left;
   padding: 15px 35px
   color: #fff
.icon
   width: 30px;
   font-size: 30px;
   line-height: 30px;
   margin-right: 15px
.close
   position: absolute;
   top: 13px;
   right: 35px;
   width: 30px;
   font-size: 30px;
   line-height: 30px;
   text-align: center;
   border-bottom: none
   color: #fff;
