.field
   display: flex
   align-items flex-start
   position: relative
   padding-bottom: 26px;
   &[disabled]
      background-color: #f4f4f4;
   &::placeholder
      font-style: italic
   &__
      &wrapper
         position: relative
         color #bdbdbd;
         &_
            &active
               color #333;
               .field__
                  &control
                     border-color: #333;
            &valid
               .field__
                  &control
                     border-color: #33C3F0;
            &error
               color red;
               .field__
                  &control
                     border-color: red;
            &async:after
               width: 16px;
               height: 16px;
               position: absolute;
               top: 50%
               right: 10px
               margin-top: -8px;
               box-sizing border-box
               border-radius: 50%;
               border: 2px solid transparent;
               border-top-color: #000;
               border-bottom-color: @border-top-color;
               background-color: rgba(255, 255, 255, 0.85);
               box-shadow: 0 0 6px 4px #fff;
               content ''
               animation: field-async 1s infinite linear
      &control
         width: 100%;
         height: 2.5em
         padding: 0 0.75em;
         border-radius: 4px;
         border: 1px solid #ddd;
         background: #fff;
         outline none
         font inherit;
         transition border-color .15s linear
         &_textarea
            height: 100%;
            display: block
            padding-top: 0.6em;
            padding-bottom: @padding-bottom;
         &_select
            height: 2.5em;
      &label
         margin: 0.6em 18px 0 0;
      &eye
         width: 20px;
         height: @width;
         position: absolute;
         top: 10px
         right: 10px;
         border-bottom: none;
         color: #000 !important;
         font-size: 16px;
         line-height @width
         text-align: center;
      &hint
         position: absolute
         top: 100%;
         font-size: 10px;
         transition color .15s linear

@keyframes field-async
   0%
      transform: rotate(0deg);
   100%
      transform: rotate(360deg);
