@require 'reset'

body
   font 14px / 1.3 'Open Sans', sans-serif;

a
   text-decoration: none
   border-bottom: 1px solid rgba(28, 136, 212, .3);
   transition: color 0.1s linear, border-bottom-color 0.1s linear;
   color: #1c88d4;
   &:hover
      border-bottom-color: rgba(255, 86, 101, 0.3);
      color: #ff5665;
// Custom plugins styles
@require 'plugins/noUiSlider'
@require 'plugins/perfect-scrollbar'
@require 'plugins/select2'

// Blocks
@require 'blocks/add-text'
@require 'blocks/add-text-form'
@require 'blocks/button'
@require 'blocks/ctrl'
@require 'blocks/error'
@require 'blocks/switcher'
@require 'blocks/error-key'
@require 'blocks/keyboard'
@require 'blocks/keyboard-layout'
@require 'blocks/keypad'
@require 'blocks/learningarea'
@require 'blocks/menu'
@require 'blocks/metronome'
@require 'blocks/text'
@require 'blocks/settings-learning'
@require 'blocks/settings-text'
@require 'blocks/num-chars'
@require 'blocks/settings'
@require 'blocks/speed'
@require 'blocks/textarea'
@require 'blocks/layout'