.root
   height 60px
   margin-bottom: 20px;
   display: flex
   align-items center
   justify-content: space-between;
.home
   margin-right: 50px;
   border-bottom: none;
   font-size: 36px;
   text-decoration: none;
.actions
   display: flex
   align-items center
.items
   margin-right: 10px
   font-size: 16px
.item
   margin-right: 5px;
   margin-left: @margin-right;
   padding: 4px 6px
   &_selected
      background-color: #1c88d4;
      border-radius: 3px;
      color: #fff;
.modes-title
   margin-right: 5px;
.separator
   width: 1px;
   margin-right: 10px;
   margin-left: 10px;
   background-color: #000;
