.root
   height 60px
   margin-bottom: 20px;
   display: flex
   align-items center
   justify-content: space-between;

.home
   margin-right: 50px;
   border-bottom: none;
   font-size: 36px;
   text-decoration: none;

.left
   display: flex
   align-items center

.right
   display: flex
   align-items center

.items
   font-size: 16px

.item
   margin-right: 5px;
   margin-left: @margin-right;
   padding: 4px 6px
   border-bottom: none
   &_selected
      background-color: #1c88d4;
      border-radius: 3px;
      color: #fff;
   &:last-child
      margin-right: 0

.modes-title
   margin-right: 5px;

.separator
   width: 1px;
   margin-right: 10px;
   margin-left: 10px;
   background-color: #000;
