.nav
   display: flex
   align-items center
   justify-content: space-between;
   height 60px
.home
   margin-right: 50px;
   border-bottom: none;
   font-size: 36px;
   text-decoration: none;
.items
   display: flex
   align-items center
   :global .menu__modes
      margin-right: 10px
      padding-right: 10px;
      border-right: 1px solid #000;
      &-title
         margin-right: 5px
         font-size: 16px;
.item
   margin-right: 2px;
   margin-left: @margin-right;
   padding: 4px 6px
   font-size: 16px;
   &_selected
      background-color: #1c88d4;
      border-radius: 3px;
      text-decoration: none
      color: #fff;