.menu
   position: relative
   &_expanded
      .button
         background-color: #f7a700;
         color: #fff;

.button
   width: 60px
   height: 60px
   font-size: 32px

.avatar
   width: 32px
   height: @width
   display inline-block
   border-radius: 50%
   background-color: #ddd
   font-size: 18px
   line-height: @width
   text-transform: uppercase
   text-align: center
   color: #fff
   
.item
   margin-top: 5px
   margin-bottom: 5px
