.modes
   display: flex;
   margin-top: 20px
.menu
   flex: 0 0 160px;
   margin-right: 20px
.title
   font-size: 14px;
.content
   flex: 0 0 700px;
.view {
   margin-bottom: 20px;
   font-size: 20px;
   text-align: left;
}

