.loader
   min-height: 300px
   position: relative

.message
   min-height: 300px
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   p
      margin: 10px 0;

.countdown
   position: absolute;
   top: 50%;
   left: 50%;
   font-size: 160px;
   color: #008000;
   text-shadow: 0 0 120px #008000;
   transform: translate(-50%, calc(-50% - 80px));
   z-index: 1;

.user
   margin: 5px 60px
   display: flex
   align-items: center;

.name
   width: 200px;
   margin-right: 20px;
   text-align: right;
   font-style: italic;
   text-overflow ellipsis

.road
   display: block
   flex-basis: calc(100% - 200px);
   border-bottom: 1px dashed #dadada;

   &:after
      width: 1px
      height: 13px;
      position: absolute
      top: -6px;
      right: 0;
      border-right: 1px dashed #dadada;
      content ''
   
.track
   height: 50px;
   position: relative
   display: block
   margin-left: 100px
   
.transport
   width: 100px;
   height: 50px;
   position: absolute;
   bottom: 0;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center right;
   transform: translateX(-100%);
   
   &_
      &airplanes
         background-image: url('~Static/images/transport/airplanes.svg');
      &automobile
         background-image: url('~Static/images/transport/automobile.svg');
      &automobile-1
         background-image: url('~Static/images/transport/automobile-1.svg');
      &buses
         background-image: url('~Static/images/transport/buses.svg');
      &chopper
         background-image: url('~Static/images/transport/chopper.svg');
      &cycle
         background-image: url('~Static/images/transport/cycle.svg');
      &delivery-truck
         background-image: url('~Static/images/transport/delivery-truck.svg');
      &delivery-truck-1
         background-image: url('~Static/images/transport/delivery-truck-1.svg');
      &delivery-truck-2
         background-image: url('~Static/images/transport/delivery-truck-2.svg');
      &derrick
         background-image: url('~Static/images/transport/derrick.svg');
      &excavate
         background-image: url('~Static/images/transport/excavate.svg');
      &excavators
         background-image: url('~Static/images/transport/excavators.svg');
      &freight
         background-image: url('~Static/images/transport/freight.svg');
      &hot-air-balloon
         background-image: url('~Static/images/transport/hot-air-balloon.svg');
      &leisure
         background-image: url('~Static/images/transport/leisure.svg');
      &leisure-1
         background-image: url('~Static/images/transport/leisure-1.svg');
      &motor-sports
         background-image: url('~Static/images/transport/motor-sports.svg');
      &motorbiking
         background-image: url('~Static/images/transport/motorbiking.svg');
      &navigate
         background-image: url('~Static/images/transport/navigate.svg');
      &public-transport
         background-image: url('~Static/images/transport/public-transport.svg');
      &recreational
         background-image: url('~Static/images/transport/recreational.svg');
      &sailing-boat
         background-image: url('~Static/images/transport/sailing-boat.svg');
      &suv
         background-image: url('~Static/images/transport/suv.svg');
      &tourist
         background-image: url('~Static/images/transport/tourist.svg');
      &touristic
         background-image: url('~Static/images/transport/touristic.svg');
      &train-station
         background-image: url('~Static/images/transport/train-station.svg');
      &tramway
         background-image: url('~Static/images/transport/tramway.svg');
      &transportation
         background-image: url('~Static/images/transport/transportation.svg');
      &transportation-1
         background-image: url('~Static/images/transport/transportation-1.svg');
      &zeppelins
         background-image: url('~Static/images/transport/zeppelins.svg');

.keypad
   margin-top: 50px;
   margin-bottom: 50px;

.details
   margin-bottom: 10px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;

.text
   margin: 50px 0
   font-size: 30px

.typed
   opacity: 0.2;

.animation
   &-enter, &-exit
      transition opacity .15s linear
   &-enter
      opacity: 0;
      &_active
         opacity: 1;
   &-exit
      opacity: 1;
      &_active
         opacity: 0;
