.loader
   min-height: 300px
   position: relative
   
.message
   min-height: 300px
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   p
      margin: 10px 0;

.user
   margin: 5px 0
   display: flex

.name

.countdown
   position: absolute;
   top: 50%;
   left: 50%;
   font-size: 160px;
   color: #008000;
   text-shadow: 0 0 120px #008000;
   transform: translate(-50%, calc(-50% - 80px));

.progress
   height: 1px