.root
   position: relative
   display flex
   justify-content: space-between;
   align-items: center;
   z-index: 2;
   margin: 20px 40px 10px;

.actions
   display: flex
   align-items: center;

.menu
   margin-right: 5px

.eye
   width 50px
   height: @width;
   font-size: 24px;
