.add-text-form
   width: 100%
   &__
      &text
         height: 450px;
         display: block
      &actions
         display: flex
         justify-content: flex-end;
         align-items: center;
      &select
         margin-left: 10px
         font-size: 12px
         &-input
            margin-right: 5px
   .ctrl
      width: 100%