.footer
   width: 840px;
   margin: 50px auto 0;
   display: flex
   font-size: 11px
   color: #7d848c;
   text-align: center
   &__
      &column
         width: 33%
         padding-right: 5%
         &:first-child
            text-align: left;
      &link
         border-bottom:1px solid rgba(125,132,140,0.3);
         text-decoration: none
         color: #565656;
         &:hover
            border-bottom-color: rgba(255,86,101,0.3);
            color: #ff5665;