.hidden-characters
   .space, .enter
      visibility: hidden
      color: #d9d9d9;
   
   .space
      display: inline-block
      width: 0.26em;
   
   .separator
      font-size: 0;
      line-height: initial;
      
   &_show
      .space, .enter
         visibility: visible
