.submenu-link
   margin-top: 5px
   margin-bottom: 5px
   border-radius: 4px
   border: 1px solid transparent
   cursor: pointer
   display: block
   padding: 5px
   text-decoration: none
   color: #000
   transition: border-color 0.15s linear;
   &:first-child
      margin-top: 0
   &:last-child
      margin-bottom: 0
   &:hover
      border-color: #ffe100
      color: #000;
   &_selected
      padding: 6px;
      border: transparent
      background: linear-gradient(to bottom, #f7a700 0%, #ffe100 100%);
      cursor: default
