.submenu-link
   margin-top: 5px
   margin-bottom: 5px
   border-radius: 4px
   border: 1px solid transparent
   cursor: pointer
   display: block
   padding: 5px
   text-decoration: none
   color: #000
   transition: border-color 0.15s linear;
   &:hover:not(.submenu-link_selected)
      border-color: #ffe100
      padding: 5px
      color: #000
   &_selected
      border: none
      padding: 6px
      background: linear-gradient(to bottom, #f7a700 0%, #ffe100 100%);
      cursor: default
      &:hover
         color: #000
