.typed
   opacity: 0.3
.reload
   width: 25px;
   height: @width;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
   border-radius: 50%;
   font-size: 20px;
   line-height: 25px;
   text-align: center;
   color: #33c3f0;
   cursor: pointer
   z-index: 1
.actions
   display flex
   justify-content space-between
   align-items center
   margin-bottom 20px
