.ps-container
   .ps-scrollbar-y
      width: 6px !important
      right: 0 !important
      border-radius: 5px !important;
      transition: width 0.1s linear !important;
      &-rail
         width: 6px !important;
         border-radius: 3px;
         transition: width 0.1s linear, opacity 0.1s linear;
         &:hover
            width: 10px !important;
            .ps-scrollbar-y
               width: 10px !important;
   &:hover
      .ps-scrollbar-y-rail
         opacity: 0.3