.content
   width: 840px;
   margin: 0 auto;
.head
   height: 64px;
   display: flex
   justify-content: space-between;
   align-items center
.buttons
   display: flex
   > *
      margin: 0 5px;
      &:last-child
         margin-right: 0
//.nav
//   height: 64px
//   margin-bottom: 30px
//   text-align: right
.settings
   border-bottom: none
   font-size: 36px;
   text-decoration: none;
.typing-info
   display: flex;
   justify-content: center
   margin: 10px 0
   > *
      margin: 0 20px
