.syllable
   width: 840px;
   margin: 0 auto;
   &__
      &start
         mb
      &title
         margin-top: 20px
         font-size: 14px;
      &view
         margin-bottom: 20px;
         font-size: 20px;
      &item
         display: flex;
         margin: 10px 0;
         padding-bottom: 20px;
      &label
         flex: 0 0 150px;
         margin-right: 10px
      &item-ctrl
         width: 100%;
      &item-ctrl-range
         padding-top: 3px
      &range
         flex-basis: 100%;
      &max-word-length
         display: flex
         align-items: center;
      &modes
         display: flex;
         &-menu
            flex: 0 0 140px;
            &-item
               margin-bottom: 5px
            &-title
               margin-bottom: 15px
         &-content
            flex: 0 0 700px;
      &keyboard-free
         .keyboard__key:not(.keyboard__key_disabled)
            cursor: pointer;
         &_last
            .keyboard__key_selected
               cursor: default !important;
