.root
   position: relative
   display flex
   justify-content: flex-end;
.items
   position: absolute;
   top 40px
   right: 0
   display: flex
   flex-direction column
   align-items: flex-start;
.item
   display: block