.root
   position: relative
   display flex
   justify-content: flex-end;
   z-index: 2;
.button
   font-size: 36px
   position: relative;
   z-index: 2;
.items
   position: absolute;
   top 0
   right: 0
   display: flex
   flex-direction column
   align-items: flex-start;
   padding: 50px 20px 20px;
   background-color: #fff;
   box-shadow: 0 0 20px 10px #fff;
   z-index 1
.item
   margin: 10px 0;