.root
   height: 60px;
   position: relative
   display flex
   justify-content: space-between;
   align-items: center;
   z-index: 2;
.button
   font-size: 36px
   position: relative;
   z-index: 2;
.menu
   color: #fff;
   &_expanded
      .button
         color: #fff;
         &:hover
            color: #ff5665;
      .nav
         display: block;
.nav
   display: none;
   position: absolute;
   top 0
   left: 0
   margin-left: -20px;
   padding: 60px 35px 20px 35px;
   background-image: linear-gradient(to bottom, #f7a700 0%, #ffe100 100%);
   z-index 1
   a
      border-bottom-color: #fff;
      color: #fff;
      &:hover
         border-bottom-color: #ff5665;
   :global .menu__modes
      &-title
         display: block
      :local .item
         margin-left: 10px
.item
   display: block;
   padding: 5px 0;
.actions
   display: flex
   align-items: center;