.auth-info
   margin-left: 10px
   font-size: 16px
.avatar
   width: 32px
   height: @width
   display: block
   border-radius: 50%
   background-color: #ddd
   font-size: 18px
   line-height: @width
   text-transform: uppercase
   text-align: center
   color: #fff
