.modal
   position: fixed
   top: 0
   left: 0
   right: 0
   bottom: 0
   overflow auto
   text-align center
   white-space nowrap
   z-index: 1
   transition: opacity .25s linear;
   will-change opacity
   &:after
      display inline-block
      vertical-align middle
      width 0
      height 100%
      content ''
   &__
      &overlay
         position fixed
         top: 0
         left: 0
         right: 0
         bottom: 0
         background-color rgba(0, 0, 0, 0.3)
      &content
         position: relative
         display inline-block
         vertical-align middle
         background-color #fff
         border-radius 2px
         margin: 10px
         padding 20px
         white-space normal
         text-align left
         will-change transform
      &close
         width: 25px;
         height: 25px;
         position: absolute;
         top: 0;
         right: 0;
         background: #fff;
         border-bottom: none
         line-height: 25px;
         font-size: 18px;
         text-align: center;
         text-decoration: none
         color #000
   &-enter
      opacity: 0;
      .modal__content
         animation modalComeIn .25s linear
      &-active
         opacity: 1;
   &-exit
      .modal__content
         animation modalHeadOut .25s linear
      &-active
         opacity: 0;

@keyframes modalComeIn {
   0% {
      transform: scale(.8);
   }
   65.5% {
      transform: scale(1.03, 1.03);
   }
   100% {
      transform scale(1, 1);
   }
}
@keyframes modalHeadOut {
   0% {
      transform translateY(0) scale(1, 1);
   }
   100% {
      transform translateY(35px) scale(.97, .97);
   }
}