.modal
   position: fixed
   top: 0
   left: 0
   right: 0
   bottom: 0
   overflow auto
   text-align center
   white-space nowrap
   z-index: 1
   &:after
      display inline-block
      vertical-align middle
      width 0
      height 100%
      content ''
   &__
      &overlay
         position fixed
         top: 0
         left: 0
         right: 0
         bottom: 0
         background-color rgba(0, 0, 0, 0.3)
      &content
         position: relative
         display inline-block
         vertical-align middle
         background-color #fff
         border-radius 2px
         margin: 10px
         padding 20px
         white-space normal
         text-align left
      &close
         width: 25px;
         height: 25px;
         position: absolute;
         top: 0;
         right: 0;
         background: #fff;
         border-bottom: none
         line-height: 25px;
         font-size: 18px;
         text-align: center;
         text-decoration: none
         color #000
   &-enter, &-appear
      opacity: 0.01;
      .modal__overlay
         opacity: 1;
      &-active
         opacity: 1;
         transition: opacity .1s linear;
         .modal__overlay
            opacity: 1;
            transition: opacity .1s linear;
   &-exit
      opacity: 1;
      .modal__overlay
         opacity: 1;
   &-exit-active
      opacity: 0.01;
      transition: opacity .1s linear;
      .modal__overlay
         opacity: 0.01;
         transition: opacity .1s linear;
