.learningarea
   font-size: 26px;
   text-align: center;
.space
   color: #d9d9d9;
.typed
   opacity:0.2
.cursor
   border-left: 1px solid #000;
   margin-right: -1px;
   background: #000
   animation cursor 1s infinite linear;
