.typing-info
   display: flex;
   justify-content: center
   > *
      margin-right:30px

.hits
   margin-right: 5px;
   color: green
      
.speed
   margin-right: 5px;
   color: green
   
.errors
   margin-right: 5px;
   color: red