.metronome
   position: relative
   &:hover .range-wrap
      top: 10px;
.btn
   font-size: 20px;
.range-wrap
   position: absolute;
   top: -150px;
   right: 100%;
   padding: 10px 10px 15px;
   transition: top .15s;
.title
   margin-bottom: 12px;
   font-size: 10px;
   font-weight: normal;
.slider
   height: 100px;
   margin: 0 auto;
   :global(.rc-slider-mark)
      display: none
