.root
   height: 200px;
   position: relative

.area
   height: 160px
   border-left: 1px dashed #000;

.moving-word
   padding: 2px 6px;
   border: 1px solid #ccc;
   font-size: 20px;

.word
   position: absolute;
   width: 100%;
   bottom: 0;
   font-size: 30px
   text-align: center;

.space
   color: #d9d9d9;

.typed
   opacity:0.2

