.avatar
   width: 32px
   height: @width
   margin-right: 10px
   margin-left: 10px
   border-radius: 50%
   background-color: #ddd
   font-size: 18px
   line-height: @width
   text-transform: uppercase
   text-align: center
   color: #fff
