.ps-container
   .ps-scrollbar-y-rail
      width: 6px
      transition: width 0.1s linear, opacity 0.1s linear;
      > .ps-scrollbar-y
         width: 6px
         border-radius: 5px;
         transition: width 0.1s linear;
   &:hover >
      .ps-scrollbar-y-rail
         opacity: 0.3
         &:hover
            width: 10px
            > .ps-scrollbar-y
               width: 10px