.root
   display: flex
   margin: 200px 0;
.status
   width: 50%;
   font-size: 130px;
   text-align: center;
.text
   display: flex;
   flex-direction: column;
   justify-content: center;
   > p
      margin-top: 4px;
      margin-bottom: 15px;
.title
   margin-bottom: 4px;
