.footer
   width: 840px;
   margin: 50px auto 0;
   font-size: 11px
   color: #7d848c;
   text-align: center
   &__
      &link
         border-bottom: 1px solid rgba(125, 132, 140, 0.3);
         text-decoration: none
         color: #565656;
         &:hover
            border-bottom: 1px solid rgba(125, 132, 140, 1);
            color: #222;