.textarea
   height: 200px;
   position: relative;
   &:before, &:after
      width: 100%
      height: 80px
      position: absolute
      left: 0
      content ''
      z-index: 1
   &:before
      top: 0
      background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.6) 30%,  #fff);
   &:after
      bottom: 0
      background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.6) 30%, #fff);

.content
   height: 100%
   position: relative
   overflow: hidden
   margin: 0 40px;
   font-size: 28px
   line-height: 40px

.typed
   opacity: 0.2
