.button
   position: relative;
   &_loader
      .content
         opacity: 0
      .loader
         display: flex;
.content
   display: inline
.loader
   display: none
   [class^="loader-module__loader"]
      border-top-color: #fff;
      border-bottom-color: #fff;