.button {
   position: relative;

   &_loader {
      .content {
         opacity: 0
      }
      .loader {
         display: block
      }
   }
}
.content {
   display: inline
}
.loader {
   display: none
}