.filters
   display: flex
   :global(.field)
      display: block
   :global(.field__control)
      width: 200px;
   :global(.field__label)
      display: block
      margin-right: 0
      margin-bottom: 2px

.daypicker
   position: relative
   
.chart
   height: 500px;
