.filters
   display: flex
   :global(.field)
      display: block
   :global(.field__wrapper)
      width: 200px;
   :global(.field__label)
      display: block
      margin-right: 0
      margin-bottom: 2px
   > *
      margin-right: 10px
   > :last-child
      margin-right: 0

.hide
   display: none

.loader
   min-height: 200px
   position: relative

.title
   margin-top: 80px
   margin-bottom: 10px
   font-size: 28px;
   font-weight: normal
   text-align: center;

.chart
   height: 500px;
   &_
      &characters, &hits-typos
         :global(.ct-series-a .ct-bar)
            stroke: #59922b;
         :global(.ct-series-b .ct-bar)
            stroke: #f05b4f;
      &speed, &durability
         :global(.ct-bar)
            stroke: #0544d3;
