.nav
   display: flex
   align-items center
   justify-content: space-between;
   margin-top: 10px
   margin-bottom: 30px
.home
   margin-right: 50px;
   border-bottom: none;
   font-size: 36px;
   text-decoration: none;
.item
   margin: 0 10px;
   font-size: 14px;
   &_selected
      border-bottom: 5px solid #00aae5;
      text-decoration: none
      color: #00aae5;