.menu
   &__home
      margin-right: 50px;
      border-bottom: none;
      font-size: 36px;
      line-height: 65px;
      text-decoration: none;
      color: #fff;
   &__nav
      margin-bottom: 30px
      background-color: #112c40
   &__nav-in
      display: flex
      align-content center
   &__nav-item
      margin: 0 10px;
      font-size: 14px;
      line-height: 64px;
      color: #fff;
      &--selected
         line-height: 59px;
         border-bottom: 5px solid #00aae5;
         text-decoration: none
         color: #00aae5;